<div th:if="${totalElements > 0 }" th:fragment="pagination(url)" class="col-md-4 d-flex align-items-center">
  <nav aria-label="User list pages">
    Total [[${totalElements}]] | Page [[${currentPage}]] of [[${totalPages}]]
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" th:if="${currentPage > 1 }" th:href="@{${url} + '?page=' + ${currentPage - 1}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        <a class="page-link" th:if="${currentPage <= 1 }" disabled="" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:class="${currentPage == i} ? active"><a class="page-link" th:href="@{${url} + '?page=' + ${i}}" th:text="${i}"></a></li>
      <li class="page-item">
        <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{${url} + '?page=' + ${currentPage + 1}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <a class="page-link" th:if="${currentPage >= totalPages}" disbaled="" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>