<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="layouts/site :: head(title='Change Password')">
</head>
<body>
<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
            <form action="#" th:action="@{/profile/change-password}" th:object="${changePassword}" method="POST">
                <input type="hidden" th:field="*{username}" name="username">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Old Password</label>
                    <input type="password" th:field="*{oldPassword}" name="oldPassword" class="form-control"
                           id="oldPassword">
                    <p class="alert alert-warning" th:if="${#fields.hasErrors('oldPassword')}" th:errorClass="error"
                       th:errors="*{oldPassword}"/>
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" th:field="*{newPassword}" name="newPassword" class="form-control"
                           id="newPassword">
                    <p class="alert alert-warning" th:if="${#fields.hasErrors('newPassword')}" th:errorClass="error"
                       th:errors="*{newPassword}"/>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layouts/site :: footer">
</div>
</body>
</html>