<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="layouts/site :: head(title='Create Role')"></head>
<body>
<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
            <a th:href="@{/role}" class="btn btn-info text-white">Role List</a>
            <form action="#" th:action="@{/role/create}" th:object="${role}" method="POST">
                <div class="mb-3">
                    <label for="roleName" class="form-label">Role Name</label>
                    <input type="text" th:field="*{roleName}" class="form-control" id="roleName">
                    <p class="alert alert-warning" th:if="${#fields.hasErrors('roleName')}" th:errorClass="error"
                       th:errors="*{roleName}"/>
                </div>
                <div class="mb-3">
                    <label for="roleDescription" class="form-label"> Role Description</label>
                    <input type="text" th:field="*{roleDescription}" class="form-control" id="roleDescription">
                    <p class="alert alert-warning" th:if="${#fields.hasErrors('roleDescription')}" th:errorClass="error"
                       th:errors="*{roleDescription}"/>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layouts/site :: footer">
</div>
</body>
</html>