<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="layouts/site :: head(title='Role List')"></head>
<body>

<div th:replace="layouts/site :: header">
</div>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
    <span class="text-success" th:text="${success}" th:if="${success}"></span></br>
    <a th:href="@{/role/create}" class="btn btn-info text-white">Create Role</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text>Role Name</th>
        <th scope="col" th:text>Role Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role:${roleList}">
        <td><a th:href="@{/role/detail/{id}(id=${role.id})}" th:text="${role.roleName}"></a></td>
        <td th:text="${role.roleDescription}"></td>
        <td>
            <a th:href="@{/role/edit/{id}(id=${role.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/role/assign-privilege/{id}(id=${role.id})}" class="btn btn-primary">Assign Privilege</a>
            <a th:href="@{/role/delete/{id}(id=${role.id})}" class="btn btn-primary">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
</div>
<div th:replace="layouts/pagination :: pagination(url='/role/')"></div>
<div th:replace="layouts/site :: footer">
</div>
</body>
</html>