<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layouts/site :: head(title='Role Detail')"></head>
<body>
<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
        <span class="text-success" th:text="${success}" th:if="${success}"></span>
        <span class="alert alert-danger" th:text="${error}" th:if="${error}"></span></br>
        <a th:href="@{/role}" class="btn btn-info text-white">Role List</a>
        <a th:href="@{/role/assign-privilege/{id}(id=${role.id})}" class="btn btn-info text-white">Assign Privilege</a>
        <span class="text-info">
             Role Name: <p th:text="${role.roleName}"></p>
        </span>
        <span class="text-info">
            Role Description: <p  th:text="${role.roleDescription}"></p>
        </span>
        <p class="text-info">Role Privileges</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text>Privilege Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="privilege:${role.privileges}">
                <td th:text="${privilege.privilegeName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    <div th:replace="layouts/site :: footer">
    </div>
</body>
</html>