<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org ">
<head th:replace="layouts/site :: head(title='Privilege List')">
<body>
<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
    <span class="text-success" th:text="${success}" th:if="${success}"></span></br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text>Privilege Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="privilege:${privilegeList}">
            <td th:text="${privilege.privilegeName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<div th:replace="layouts/pagination :: pagination(url='/privilege/')"></div>
<div th:replace="layouts/site :: footer">
</div>
</body>
</html>