<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layouts/site :: head(title='Users List')">
</head>
<body>

<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">

            <span class="text-success" th:text="${success}" th:if="${success}"></span></br>
            <a th:href="@{/user/create}" class="btn btn-info text-white">Create User</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text>Name</th>
                    <th scope="col" th:text>Email</th>
                    <th scope="col" th:text>Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${appUserList}">
                    <td><a th:href="@{/user/detail/{id}(id=${user.id})}"
                           th:text="${user.firstName+' '+user.lastName}"></a></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td>
                        <a th:href="@{/user/assign-role/{id}(id=${user.id})}" class="btn btn-primary">Assign Role</a>
                        <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>
<div th:replace="layouts/pagination ::pagination(url='/user/')"></div>
<div th:insert="layouts/site :: footer">
</div>
</body>
</html>