<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org ">
<head th:replace="layouts/site :: head(title='Assign Role')">
</head>
<body>
<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
    <span class="text-success" th:text="${success}" th:if="${success}"></span></br>
    <p class="text-info">Assign roles to user <span th:text="${appUser.firstName+' '+appUser.lastName}"></span></p>
    <form action="#" th:action="@{/user/assign-role}" method="POST">
        <input type="hidden" th:name="id" th:value="*{appUser.id}">
        <select class="form-select" aria-label="Default select example" id="roleList"  th:field="*{selectedRole.selectedRoles}" multiple="multiple">
            <option th:each="role:${selectedRole.selectedRoles}" th:value="*{role.id}"
                    th:text="*{role.roleName}"></option>
        </select>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</div>
</div>
<div th:replace="layouts/site :: footer">
</div>
</body>
</html>