<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="layouts/site :: head(title='Create User')">
</head>
<body>

<div th:replace="layouts/site :: header">
</div>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="layouts/site :: sidebar">
        </div>
        <div class="col py-3">
    <a th:href="@{/user}" class="btn btn-info text-white">User List</a>
<form action="#" th:action="@{/user/create}"  method="POST">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" th:field="*{appUser.firstName}" class="form-control" id="firstName" >
        <p class="alert alert-warning" th:if="${#fields.hasErrors('appUser.firstName')}" th:errorClass="error" th:errors="*{appUser.firstName}"/>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" th:field="*{appUser.lastName}" class="form-control" id="lastName" >
        <p class="alert alert-warning" th:if="${#fields.hasErrors('appUser.lastName')}" th:errorClass="error" th:errors="*{appUser.lastName}"/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" th:field="*{appUser.email}" class="form-control" id="email" >
        <p class="alert alert-warning" th:if="${#fields.hasErrors('appUser.email')}" th:errorClass="error" th:errors="*{appUser.email}"/>
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label">Data of birth</label>
        <input type="date" th:field="*{appUser.dob}" class="form-control" id="dob" >
        <p class="alert alert-warning" th:if="${#fields.hasErrors('appUser.dob')}" th:errorClass="error" th:errors="*{appUser.dob}"/>
    </div>
    <select class="form-control form-control-sm" aria-label="Default select example" id="roleList"  th:field="*{selectedRole.selectedRoles}" multiple="multiple">
        <option th:each="role:${selectedRole.selectedRoles}" th:value="*{role.id}"
                th:text="${role.roleName}"></option>
    </select>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" th:field="*{appUser.password}" class="form-control" id="password" >
        <p class="alert alert-warning" th:if="${#fields.hasErrors('appUser.password')}" th:errorClass="error" th:errors="*{appUser.password}"/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
</div>
</div>
<div th:replace="layouts/site :: footer">
</div>
</body>
</html>